<details class="more">
  <summary>פרטים נוספים</summary>
  <div class="latin">{{Latin}}</div>
  {{#English}}<div class="english">{{English}}</div>{{/English}}
  {{#Arabic}}<div class="arabic">{{Arabic}}</div>{{/Arabic}}
  <table class="details">
    {{#FamilyHebrew}}<tr><th>משפחה</th><td>{{FamilyHebrew}} <span class="latin">{{FamilyLatin}}</span></td></tr>{{/FamilyHebrew}}
    {{#LifeForm}}<tr><th>צורת חיים</th><td>{{LifeForm}}</td></tr>{{/LifeForm}}
    {{#Colors}}<tr><th>צבע</th><td>{{Colors}}</td></tr>{{/Colors}}
    {{#Months}}<tr><th>פריחה</th><td>{{Months}}</td></tr>{{/Months}}
    {{#Height}}<tr><th>גובה</th><td>{{Height}}</td></tr>{{/Height}}
    {{#Habitat}}<tr><th>בית גידול</th><td>{{Habitat}}</td></tr>{{/Habitat}}
    {{#Regions}}<tr><th>תפוצה</th><td>{{Regions}}</td></tr>{{/Regions}}
    {{#Petals}}<tr><th>עלי כותרת</th><td>{{Petals}}</td></tr>{{/Petals}}
    {{#LeafShape}}<tr><th>צורת העלה</th><td>{{LeafShape}}</td></tr>{{/LeafShape}}
    {{#LeafEdge}}<tr><th>שפת העלה</th><td>{{LeafEdge}}</td></tr>{{/LeafEdge}}
    {{#Stem}}<tr><th>גבעול</th><td>{{Stem}}</td></tr>{{/Stem}}
    {{#Hairiness}}<tr><th>כסות</th><td>{{Hairiness}}</td></tr>{{/Hairiness}}
    {{#Status}}<tr><th>מידע נוסף</th><td>{{Status}}</td></tr>{{/Status}}
  </table>
  <div class="link"><a href="{{Link}}">צמח השדה ↗</a></div>
</details>
<div class="credit">{{Credit}}</div>
